*{
    color: #007bff;
}

body{
    background: rgb(85,85,85);
}

.navbar-brand{
    font-size: 200%;
}

.nav-item{
    width: 20%;
    margin-top: 1.5%;
}

.titre {
    margin-top: 2%;
    text-align: center;
    font-size: 200%;
}