<!DOCTYPE html>
<html lang='fr'>
	<head>
		{% block title %}
		<title>R&T development</title>
		{% endblock %}
		<meta name="viewport" content="widht=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		{% block sidebar %}
		<nav class="navbar navbar-expand-lg bg-info">
			<ul class="navbar-nav" style="width: 100%;">
				<li style="width: 20%;">{% load static %}
					<img src="{% static 'computerapp/images/rtdev_nobg.png' %}" alt="logo" style="width: 70%;"></li>
				<li class="nav-item"><a class="btn btn-info" style=" font-size: 150%; color: #007bff; " href="{% url 'index' %}">dashboard</a></li>
				<li class="nav-item"><a class="btn btn-info" style=" font-size: 150%; color: #007bff; " href="{% url 'machines' %}">machines</a></li>
				<li class="nav-item"><a class="btn btn-info" style=" font-size: 150%; color: #007bff; " href="{% url 'personnelles' %}">personnelles</a></li>
				<li class="nav-item"><a class="btn btn-info" style=" font-size: 150%; color: #007bff; " href="{% url 'infrastructures' %}">infrastructures</a></li>
			</ul>
		</nav>
		{% endblock %}
		{% block content %}
				<div style="width: 100%; text-align: center;">
					<div style="width: 45%; float: left; margin-left: 2%;">
						<p class="titre">INFRASTRUCTURES MAJ</p>
						<p class="titre">nombre d'infrastructures : {{ nb_infrastructures }}</p>
						<table class="table table-dark">
							<thead>
							  <tr>
								<th scope="col">#</th>
								<th scope="col">Nom Infrastructure</th>
								<th scope="col">MaintenanceDate</th>
							  </tr>
							</thead>
							{% if infrastructures %}
							<tbody>
								{% for infrastructure in infrastructures %}
								  <tr>
									<th scope="row">{{ infrastructure.id }}</th>
									<td>{{ infrastructure.infrastructure }}</td>
									<td>{{ infrastructure.maintenanceDate }}</td>
								  </tr>
								{% endfor %}
							</tbody>
							{% else %}
								<p>il n\'y a pas de infrastructure.</p>
							{% endif %}
						</table>
					</div>
					<div style="width: 45%; float: right; margin-right: 2%;">
						<p class="titre">MACHINES MAJ</p>
						<p class="titre">nombre de machines : {{ nb_machines }}</p>
						<table class="table table-dark">
							<thead>
							  <tr>
								<th scope="col">#</th>
								<th scope="col">Nom Machine</th>
								<th scope="col">MaintenanceDate</th>
							  </tr>
							</thead>
							{% if machines %}
							<tbody>
								{% for machine in machines %}
								  <tr>
									<th scope="row">{{ machine.id }}</th>
									<td>{{ machine.nom }}</td>
									<td>{{ machine.maintenanceDate }}</td>
								  </tr>
								{% endfor %}
							</tbody>
							{% else %}
								<p>il n\'y a pas de machine.</p>
							{% endif %}
						</table>
					</div>
				</div>
		{% endblock content %}
	</body>
</html>
