{% extends "index.html" %}

{% block content %}
    <p><strong> {{ infrastructure.nom }} </strong></p>
    
    <p><strong>Id</strong> : {{ infrastructure.id }}</p>
    <p><strong>infrastructure</strong> : {{ infrastructure.infrastructure }}</p>
    <p><strong>responsable</strong> : {{ infrastructure.responsable }}</p>
    <p><strong>nombre de machine</strong> : {{ infrastructure.nb_machine }}</p>
    <p><strong>Date de maintenance :</strong> {{infrastructure.maintenanceDate}}</p>
    <p><strong>date création</strong> : {{ infrastructure.date_creation }}</p>
{% endblock %}