<!-- importation de index.html-->
{% extends "index.html" %}

<!--permet de rentrer ce code dans le code de index.html-->
{% block content %}
<p class="titre">PERSONNELLES</p>
<p class="titre">nombre de personnelles : {{ nb_personnelles }}</p>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Infrastructure</th>
        <th scope="col">Email</th>
        <th scope="col">Num</th>
        <th scope="col"> Date Entree</th>
        <th scope="col">Supprimer</th>
      </tr>
    </thead>
    <!-- regarde si il y a des valeur dans personnelles-->
    {% if personnelles %}
    <tbody>
      <!-- on appele chaque personnelle un par un puis on affiche leur valeurs-->
        {% for personnelle in personnelles %}
          <tr>
            <th scope="row">{{ personnelle.id }}</th>
            <td>{{ personnelle.nom }}</td>
            <td>{{personnelle.prenom}}</td>
            <td>{{ personnelle.infrastructure }}</td>
            <td>{{ personnelle.email }}</td>
            <td>{{personnelle.num}}</td>
            <td>{{ personnelle.date_entree }}</td>
            <td><a href="{% url 'personnelle_remove' personnelle.id %}" class="btn btn-danger">Supprimer</a></td>
          </tr>
        {% endfor %}
    </tbody>
    <!--si il n'y a pas de valeur dans personnelle alors:-->
    {% else %}
        <p>il n\'y a pas de personnelle.</p>
    {% endif %}
</table>
<div style="width: 100%; text-align: center;">
    <a href="{% url 'personnelle_add' %}" class="btn btn-info" >ajouter personnelle</a>
  </div>
{% endblock %}
